<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <system.webServer>
    <caching>
      <profiles>
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".dzi" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".dzc" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".cxml" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>
  </system.webServer>
</configuration>