<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
	</configSections>

	<system.web>
		<compilation debug="true" />
		<customErrors mode="Off" />
	</system.web>

	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="ZentityRollingTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs\CXMLTranslatorTrace.log" formatter="Text Formatter" rollInterval="Hour" rollSizeKB="10244" timeStampPattern="yyyy-MM-dd-hh-mm-ss" maxArchivedFiles="10" />
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Title:{title}  -  Message: {message}{newline}&#xA;Timestamp: {timestamp}{newline}&#xA;Severity: {severity}{newline}&#xA;App Domain: {localAppDomain}{newline}" name="Text Formatter" />
		</formatters>
		<categorySources>
			<add switchValue="Verbose" name="General">
				<listeners>
					<add name="ZentityRollingTraceListener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="ZentityRollingTraceListener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>

	<appSettings>
		<add key="MaxPageTraversalCount" value="100" />
	</appSettings>

	<system.webServer>
		<handlers>
			<add name="CXML" verb="GET" path="*.cxml" type="ODataToCxmlTranslator.CxmlHandler, ODataToCxmlTranslator" />
			<add name="DZC" verb="GET" path="*.dzc" type="ODataToCxmlTranslator.DzcHandler, ODataToCxmlTranslator" />
			<add name="ImageTile" verb="GET" path="*_files/*/*_*.jpg" type="ODataToCxmlTranslator.ImageHandler, ODataToCxmlTranslator" />
		</handlers>

		<directoryBrowse enabled="true" />

		<staticContent>
			<mimeMap fileExtension=".cxml" mimeType="text/xml" />
			<mimeMap fileExtension=".dzi" mimeType="text/xml" />
			<mimeMap fileExtension=".dzc" mimeType="text/xml" />
		</staticContent>

	</system.webServer>
</configuration>