SET QUOTED_IDENTIFIER ON
GO



DECLARE @memberOfPredicateId UNIQUEIDENTIFIER;
SELECT @memberOfPredicateId = Id FROM Core.Predicate 
WHERE Core.Predicate.Name = 'IdentityBelongsToGroups';

INSERT [Core].[Relationship] ([Id], [SubjectResourceId], [ObjectResourceId], [PredicateId], [OrdinalPosition], [DateAdded]) VALUES (N'1bbe5e7f-30a8-47a4-96e7-561372895ef5', N'ebc1d4ab-1500-4f20-a447-a5d1ff360bac', N'208dc7fc-54c4-4b7a-833d-a292dd663b51', @memberOfPredicateId, NULL, NULL)
GO
EXEC sp_executesql N'INSERT INTO [Core].[Predicate] VALUES (NEWID(), ''HasReadAccess'', ''urn:zentity/module/zentity-authorization/predicate/has-read-access'')';
GO
EXEC sp_executesql N'INSERT INTO [Core].[Predicate] VALUES (NEWID(), ''HasDeleteAccess'', ''urn:zentity/module/zentity-authorization/predicate/has-delete-access'')';

GO
EXEC sp_executesql N'INSERT INTO [Core].[Predicate] VALUES (NEWID(), ''HasUpdateAccess'', ''urn:zentity/module/zentity-authorization/predicate/has-update-access'')';
GO
EXEC sp_executesql N'INSERT INTO [Core].[Predicate] VALUES (NEWID(), ''HasCreateAccess'', ''urn:zentity/module/zentity-authorization/predicate/has-create-access'')';
GO
EXEC sp_executesql N'INSERT INTO [Core].[Predicate] VALUES (NEWID(), ''DenyReadAccess'', ''urn:zentity/module/zentity-authorization/predicate/deny-read-access'')';
GO
EXEC sp_executesql N'INSERT INTO [Core].[Predicate] VALUES (NEWID(), ''DenyUpdateAccess'', ''urn:zentity/module/zentity-authorization/predicate/deny-update-access'')';
GO
EXEC sp_executesql N'INSERT INTO [Core].[Predicate] VALUES (NEWID(), ''DenyDeleteAccess'', ''urn:zentity/module/zentity-authorization/predicate/deny-delete-access'')';
GO
EXEC sp_executesql N'INSERT INTO [Core].[Predicate] VALUES (NEWID(), ''DenyCreateAccess'', ''urn:zentity/module/zentity-authorization/predicate/deny-create-access'')';
GO
EXEC sp_executesql N'INSERT INTO [Core].[Predicate] VALUES (NEWID(), ''IsOwnerOf'', ''urn:zentity/module/zentity-authorization/predicate/is-owner-of'')';
GO
EXEC sp_executesql N'INSERT INTO [Core].[Predicate] VALUES (NEWID(), ''DenyOwnershipOf'', ''urn:zentity/module/zentity-authorization/predicate/deny-ownership-of'')';
GO