<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<!-- Custom config sections declared for Enterprise Library -->
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
	</configSections>

	<!-- Enterprise Library Tracing Section -->
	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="ZentityRollingTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs\ZentityDataServiceTrace.log" formatter="Text Formatter" rollInterval="Hour" rollSizeKB="10244" timeStampPattern="yyyy-MM-dd-hh-mm-ss" maxArchivedFiles="10" />
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Title: {title}{newline}Message: {message}{newline}Timestamp: {timestamp(local)}{newline}Severity: {severity}{newline}App Domain: {localAppDomain}{newline}" name="Text Formatter" />
		</formatters>
		<categorySources>
			<add switchValue="Error" name="General">
				<listeners>
					<add name="ZentityRollingTraceListener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="ZentityRollingTraceListener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
  
	<!-- WCF DataService Internal Log -->
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelTraceListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="ServiceModelTraceListener" initializeData="ZentityDataService_Trace.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
		</sharedListeners>
	</system.diagnostics>

	<!-- Application Settings for Zentity Data Service -->
	<appSettings>
		<add key="EntityPageSize" value="10" />
	</appSettings>

	<!-- Connection Strings Section -->
	<connectionStrings>
		<add name="ZentityContext" connectionString="metadata=res://Zentity.Metadata;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Zentity;Integrated Security=True;MultipleActiveResultSets=True;Connection Timeout=120;&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>
	</system.web>

	<!-- WCF Data Service Configuration Settings -->
	<system.serviceModel>
		<services>
			<!-- Begin data service-specific configuration. -->
			<!-- The name of the service. -->
			<service name="Zentity.Services.Data.ZentityDataService">
				<endpoint binding="webHttpBinding" bindingConfiguration="higherMessageSize" contract="System.Data.Services.IRequestHandler" />
			</service>
		</services>
		<bindings>
			<webHttpBinding>
				<!-- Configure the maxReceivedMessageSize value to suit the max size of the request ( in bytes ) you want the service to recieve. -->
				<binding name="higherMessageSize" maxReceivedMessageSize="6553600" maxBufferSize="6553600">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows" />
					</security>
				</binding>
			</webHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true" />
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="ZentityDataServiceAuthorizationModule" type="Zentity.Services.Data.ZentityDataServiceAuthorizationModule" preCondition="managedHandler" />
		</modules>
		<directoryBrowse enabled="true" />
	</system.webServer>
</configuration>