<?xml version="1.0"?>

<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<!-- This section adds reference to the assemblies containing security configuration sections. -->
		<section name="Authentication" type="Zentity.Security.Authentication.AuthenticationConfigurationSection, Zentity.Security.Authentication" />
		<section name="PasswordPolicy" type="Zentity.Security.AuthenticationProvider.PasswordManagement.PasswordPolicy, Zentity.Security.AuthenticationProvider" />
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"></sectionGroup>
		</sectionGroup>
		<!-- Resource properties control configuration. -->
		<section name="resourcePropertiesSettings" type="Zentity.Web.UI.ToolKit.ResourcePropertiesConfigSection, Zentity.Web.UI.ToolKit" />
	</configSections>
	<!-- Configures the resource properties control. -->
	<resourcePropertiesSettings>
		<requiredProperties>
			<add name="Title" class="Zentity.Core.Resource" />
			<add name="GroupName" class="Zentity.Security.Authorization.Group" />
		</requiredProperties>
		<emailProperties regularExpression="^([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})$">
			<add name="From" class="Zentity.ScholarlyWorks.Email" />
			<add name="To" class="Zentity.ScholarlyWorks.Email" />
			<add name="Email" class="Zentity.ScholarlyWorks.Contact" />
		</emailProperties>
		<dateRangeProperties>
			<add name="DateAvailableFrom" endDateName="DateAvailableUntil" class="Zentity.ScholarlyWorks.ScholarlyWork" />
			<add name="DateValidFrom" endDateName="DateValidUntil" class="Zentity.ScholarlyWorks.ScholarlyWork" />
			<add name="DateStart" endDateName="DateEnd" class="Zentity.ScholarlyWorks.Lecture" />
		</dateRangeProperties>
		<readOnlyProperties>
			<add name="DayPublished" class="Zentity.ScholarlyWorks.Publication" />
			<add name="MonthPublished" class="Zentity.ScholarlyWorks.Publication" />
			<add name="YearPublished" class="Zentity.ScholarlyWorks.Publication" />
			<add name="DateAdded" class="Zentity.Core.Resource" />
			<add name="DateModified" class="Zentity.Core.Resource" />
		</readOnlyProperties>
		<imageProperties regularExpression="^.+\.(jpg|JPG|gif|GIF|png|PNG|bmp|BMP){1}$">
			<add name="Image" class="Zentity.ScholarlyWorks.Lecture" />
		</imageProperties>
		<excludedProperties>
			<add name="Id" class="Zentity.Core.Resource" />
		</excludedProperties>
		<orderedProperties>
			<add class="Zentity.ScholarlyWorks.Person" order="FirstName,MiddleName,LastName" />
			<add class="Zentity.ScholarlyWorks.Lecture" order="DateStart,DateEnd" />
			<add class="Zentity.ScholarlyWorks.ScholarlyWork" order="DateAvailableFrom,DateAvailableUntil" />
			<add class="Zentity.ScholarlyWorks.ScholarlyWork" order="DateValidFrom,DateValidUntil" />
		</orderedProperties>
	</resourcePropertiesSettings>
	<appSettings>
		<!-- Required for similarity match. -->
		<add key="MinimumPercentageMatchExpected" value="30" />
		<!-- Required for search. -->
		<add key="ImplicitPropertiesFileName" value="Search\ImplicitProperties.config" />
		<add key="PredicateTokensFileName" value="Search\PredicateTokens.config" />
		<add key="SpecialTokensFileName" value="Search\SpecialTokens.config" />
		<add key="ExcludedPredicatesFileName" value="Search\ExcludedPredicates.config" />
		<add key="ExcludedResourceTypesFileName" value="Search\ExcludedResourceTypes.config" />
		<!-- Required for home page. -->
		<add key="ZentityBannerPath" value="Images/ZentityBanner.jpg" />
		<add key="ZentityTitle" value="Zentity" />
		<!-- Services endpoints for services page. These keys are set by the installer. -->
		<add key="AtomPubEndPoint" value="http://localhost:9090/AtomPub/AtomPub.ashx/ServiceDocument" />
		<add key="SWORDEndPoint" value="http://localhost:9090/AtomPub/Sword/Sword.ashx/ServiceDocument" />
		<add key="SyndicationEndPoint" value="http://localhost:9090/Syndication/Syndication.ashx/help" />
		<add key="OaiPmhEndPoint" value="http://localhost:9090/OaiPmh/OaiPmhService.ashx?verb=Identify" />
		<add key="OaiOreEndPoint" value="http://localhost:9090/OaiOre/Ore.ashx" />
		<!-- Required for security. -->
		<!-- 
      This configuration setting decides whether the password policy is applied. If this is set to true
      the new passwords entered while changing password or creation of user account will be checked against the password policy. 
    -->
		<add key="ApplyPasswordPolicy" value="False" />
		<!-- 
      IMPORTANT It is recommended that this setting should be set to true from the point of view of ensuring secure storage of passwords.
      
      This configuration setting can be changed only once right after Zentity is installed, before creating any 
      user accounts. If this is changed afterwards it will lead to errors in authenticating users.
      Also the built in users - administrator and guest have their passwords stored in encrypted form. You need to set them in clear text in 
      the authentication database, if this setting is made false.
    -->
		<add key="EncryptPassword" value="True" />
		<add key="encryptionKey" value="877D3C2437D7B9DF4F31E9AE6CA97C3F8AE99B02BF66D137F865A8651C1A36D2" />
	</appSettings>
	<connectionStrings>
		<!-- This connection string is required for accessing core, authorization and scholarlyworks data models. -->
		<add name="ZentityContext" connectionString="provider=System.Data.SqlClient;metadata=res://Zentity.ScholarlyWorksAndAuthorization;provider connection string=&quot;Data Source=.;Initial Catalog=Zentity;Integrated Security=True;MultipleActiveResultSets=True;Connection Timeout=120;&quot;" providerName="System.Data.EntityClient" />
		<add name="AdministrationContext" connectionString="provider=System.Data.SqlClient;metadata=res://Zentity.Core;provider connection string=&quot;Data Source=.;Initial Catalog=Zentity;Integrated Security=True;MultipleActiveResultSets=True;Connection Timeout=120;&quot;" providerName="System.Data.EntityClient" />
		<!-- This connection string is required for accessing the authentication database. -->
		<add name="AuthenticationConnection" connectionString="Data Source=.;Initial Catalog=ZentityAuthentication;integrated security=true;Connection Timeout=120;" />
	</connectionStrings>
	<system.web>
		<sessionState timeout="20" />
		<globalization culture="en-US" uiCulture="en-US" />
		<httpRuntime executionTimeout="10000" maxRequestLength="1048576" />
		<compilation debug="true">
			<assemblies></assemblies>
		</compilation>
		<customErrors defaultRedirect="Error.htm" mode="On">
			<error statusCode="404" redirect="Error.aspx?Error=PageNotFound" />
			<error statusCode="408" redirect="Error.aspx?Error=Timeout" />
		</customErrors>
		<!-- Use any of the following values for the styleSheetTheme attribute: "DarkBlue", "LightBlue".-->
		<pages validateRequest="false" styleSheetTheme="LightBlue">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add tagPrefix="Zentity" namespace="Zentity.Web.UI.ToolKit" assembly="Zentity.Web.UI.ToolKit" />
			</controls>
		</pages>
		<httpHandlers>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add verb="*" path="ThumbnailCallback.ashx" type="Zentity.Web.UI.ToolKit.ImageHandler,Zentity.Web.UI.ToolKit" />
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</httpModules>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v4.0" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add name="ToolKitImageHandler" verb="*" path="ThumbnailCallback.ashx" type="Zentity.Web.UI.ToolKit.ImageHandler, Zentity.Web.UI.ToolKit" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!-- 
      Authentication configuration section
      Add one provider entry for each authentication implementation. 
      name = Choose a unique name for authentication provider. 
      type = Name of the type implementing IAuthenticationProvider, Fully qualified assembly name
  -->
	<Authentication>
		<Providers>
			<add name="ZentityAuthenticationProvider" type="Zentity.Security.AuthenticationProvider.ZentityAuthenticationProvider,           Zentity.Security.AuthenticationProvider" />
		</Providers>
	</Authentication>
	<!-- This section is required by security to get the password policy to be used. 
       The appSetting key 'ApplyPasswordPolicy' defines whether the password policy should be applied. -->
	<!--
      Password policy configuration section. Please add only one policy entry in this section. Otherwise the behavior of the application cannot 
      be predicted.
      MinimumLength = Desired minimum length of the password. Value must be >= 6
      MaximumLength = Desired maximum length of the password. Value must be <= 100.
      ExpiresInDays = Number of days after which a user must change his password. Value must be between 7 and 100.
      StartWithAlphabet = Set to True if password must start with an alphabet.
      MustContainDigit = Set to True if password must contain a digit.
      MustContainSpecialCharacter = Set to True if password must contain a special character - ~`!@#$%^&*()_-+={[}]|\\:;\"'<,>.?/
  -->
	<PasswordPolicy>
		<CurrentPolicy MinimumLength="7" MaximumLength="20" ExpiresInDays="90" StartWithAlphabet="true" MustContainDigit="true" MustContainSpecialCharacter="true" />
	</PasswordPolicy>
	<!-- This section is required to create a log file when unhandled exceptions occur. -->
	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<add name="WebLogFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Zentity.log" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>