<?xml version="1.0"?>

<configuration>
  <!-- Custom config sections declared for Enterprise Library and Pivot -->
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="PivotConfig" type="Zentity.Services.Configuration.Pivot.PivotConfigurationSection, Zentity.Services.Web" />
  </configSections>

  <!-- Enterprise Library Tracing Section -->
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="ZentityRollingTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs\ZentityServicesTrace.log" formatter="Text Formatter" rollInterval="Hour" rollSizeKB="10244" timeStampPattern="yyyy-MM-dd-hh-mm-ss" maxArchivedFiles="10" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Title: {title}{newline}Message: {message}{newline}Timestamp: {timestamp(local)}{newline}Severity: {severity}{newline}App Domain: {localAppDomain}{newline}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="Information" name="General">
        <listeners>
          <add name="ZentityRollingTraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="ZentityRollingTraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <!-- Connection Strings Section -->
  <connectionStrings>
    <add name="ZentityContext" connectionString="provider=System.Data.SqlClient;metadata=res://Zentity.ScholarlyWorks;provider connection string=&quot;Data Source=.;Initial Catalog=Zentity;Integrated Security=True;MultipleActiveResultSets=True;Connection Timeout=120;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!-- App Settings -->
  <appSettings>
    <add key="InstancesPerCore" value="1" />
  </appSettings>
  
  <!-- System.Net Section -->
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="True" bypassonlocal="True" />
    </defaultProxy>
  </system.net>

  <!-- WCF Service Configuration Settings -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_ZentityServices" maxBufferPoolSize="65536000" maxReceivedMessageSize="65536000">
          <readerQuotas maxStringContentLength="10485760" maxBytesPerRead="8192" />
          <security mode="Message">
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="Zentity.Services.Web.Admin.ConfigurationService">
        <endpoint binding="wsHttpBinding" contract="Zentity.Services.Web.Admin.IConfigurationService" bindingConfiguration="wsHttpBinding_ZentityServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090/Services/AdminConfigurationService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Zentity.Services.Web.Data.DataModelService">
        <endpoint binding="wsHttpBinding" contract="Zentity.Services.Web.Data.IDataModelService" bindingConfiguration="wsHttpBinding_ZentityServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090/Services/DataModelingService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Zentity.Services.Web.Data.ResourceTypeService">
        <endpoint binding="wsHttpBinding" contract="Zentity.Services.Web.Data.IResourceTypeService" bindingConfiguration="wsHttpBinding_ZentityServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090/Services/ResourceTypeService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Zentity.Services.Web.Pivot.ConfigurationService">
        <endpoint binding="wsHttpBinding" contract="Zentity.Services.Web.Pivot.IConfigurationService" bindingConfiguration="wsHttpBinding_ZentityServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090/Pivot/ConfigurationService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Zentity.Services.Web.Pivot.PublishingService">
        <endpoint binding="wsHttpBinding" contract="Zentity.Services.Web.Pivot.IPublishingService" bindingConfiguration="wsHttpBinding_ZentityServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090/Pivot/PublishingService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Zentity.Services.Web.Pivot.PublishingProgressService" behaviorConfiguration="netTcpBehavior_ZentityServices">
        <endpoint binding="netTcpBinding" contract="Zentity.Services.Web.Pivot.IPublishingProgressService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9091/Pivot/PublishingProgressService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="netTcpBehavior_ZentityServices">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>