<?xml version="1.0"?>

<configuration>
  <!-- Custom config sections declared for Enterprise Library -->
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>

  <!--Enterprise Library Tracing Section-->
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="ZentityRollingTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs\ZentityNotificationTrace.log" formatter="Text Formatter" rollInterval="Hour" rollSizeKB="10244" timeStampPattern="yyyy-MM-dd-hh-mm-ss" maxArchivedFiles="10" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Title: {title}{newline}Message: {message}{newline}Timestamp: {timestamp(local)}{newline}Severity: {severity}{newline}App Domain: {localAppDomain}{newline}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="Information" name="General">
        <listeners>
          <add name="ZentityRollingTraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="ZentityRollingTraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  
  <!-- Application Settings for Notification Service -->
  <appSettings>
    <add key="ZentityQueue" value="ZentityReceiveQueue" />
    <add key="BatchSize" value="500" />
    <add key="Timeout" value="30000" />
  </appSettings>

  <!-- Connection Strings Section -->
  <connectionStrings>
    <add name="ZentityConnection" connectionString="Data Source=.;Initial Catalog=Zentity;Integrated Security=SSPI;Connection Timeout=120;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- WCF Service Configuration Settings -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IPublishingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="65536000" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9090/Pivot/PublishingService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPublishingService" contract="Pivot.IPublishingService" name="WSHttpBinding_IPublishingService">
        <identity>
          <userPrincipalName value="DOMAIN\ZentityAdmin" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>