<?xml version="1.0" encoding="utf-8"?>

<implicitProperties xmlns="urn:zentity">
  <!-- Zentity.Core Module -->
  <module namespace="Zentity.Core">
    <resourceType name="Resource">
      <property>Title</property>
      <property>Description</property>
    </resourceType>
  </module>
  <!-- Zentity.ScholarlyWorks Module -->
  <module namespace="Zentity.ScholarlyWorks">
    <resourceType name="Tag">
      <property>Name</property>
    </resourceType>
    <resourceType name="Contact">
      <property>Email</property>
    </resourceType>
    <resourceType name="ScholarlyWork">
      <property>Notes</property>
      <property>Abstract</property>
    </resourceType>
    <resourceType name="PersonalCommunication">
      <property>From</property>
      <property>To</property>
    </resourceType>
    <resourceType name="Code">
      <property>ProgrammingLanguage</property>
      <property>Technology</property>
    </resourceType>
    <resourceType name="Person">
      <property>LastName</property>
      <property>FirstName</property>
      <property>MiddleName</property>
    </resourceType>
    <resourceType name="Lecture">
      <property>Series</property>
      <property>Venue</property>
    </resourceType>
    <resourceType name="Experiment">
      <property>Name</property>
    </resourceType>
    <resourceType name="Publication">
      <property>BookTitle</property>
      <property>Publisher</property>
    </resourceType>
    <resourceType name="Email">
      <property>Subject</property>
    </resourceType>
    <resourceType name="Video">
      <property>Director</property>
    </resourceType>
    <resourceType name="Journal">
      <property>JournalName</property>
    </resourceType>
    <resourceType name="Proceedings">
      <property>EventName</property>
    </resourceType>
  </module>
</implicitProperties>