<?xml version="1.0" encoding="utf-8"?>

<predicateTokens xmlns="urn:zentity">
  <!-- ScholarlyWorkItemHasTag -->
  <token name="tag" predicate="ScholarlyWorkItemHasTag" reverseRelation="false" />
  <token name="taggeditem" predicate="ScholarlyWorkItemHasTag" reverseRelation="true" />

  <!-- CategoryNodeHasScholarlyWorkItem -->
  <token name="categorizeditem" predicate="CategoryNodeHasScholarlyWorkItem" reverseRelation="false" />
  <token name="category" predicate="CategoryNodeHasScholarlyWorkItem" reverseRelation="true" />

  <!-- ScholarlyWorkIsCitedBy -->
  <token name="citedby" predicate="ScholarlyWorkIsCitedBy" reverseRelation="false" />
  <token name="citation" predicate="ScholarlyWorkIsCitedBy" reverseRelation="true" />

  <!-- ScholarlyWorkItemIsAddedBy -->
  <token name="addedby" predicate="ScholarlyWorkItemIsAddedBy" reverseRelation="false" />
  <token name="addeditem" predicate="ScholarlyWorkItemIsAddedBy" reverseRelation="true" />

  <!-- ScholarlyWorkIsPresentedBy -->
  <token name="presenter" predicate="ScholarlyWorkIsPresentedBy" reverseRelation="false" />
  <token name="presentedwork" predicate="ScholarlyWorkIsPresentedBy" reverseRelation="true" />

  <!-- ScholarlyWorkHasVersion -->
  <token name="version" predicate="ScholarlyWorkHasVersion" reverseRelation="false" />
  <token name="versionof" predicate="ScholarlyWorkHasVersion" reverseRelation="true" />

  <!-- ScholarlyWorkIsAuthoredBy -->
  <token name="author" predicate="ScholarlyWorkIsAuthoredBy" reverseRelation="false" />
  <token name="authoredwork" predicate="ScholarlyWorkIsAuthoredBy" reverseRelation="true" />

  <!-- ScholarlyWorkHasContributionBy -->
  <token name="contributor" predicate="ScholarlyWorkHasContributionBy" reverseRelation="false" />
  <token name="contributioninwork" predicate="ScholarlyWorkHasContributionBy" reverseRelation="true" />

  <!-- ScholarlyWorkIsEditedBy -->
  <token name="editor" predicate="ScholarlyWorkIsEditedBy" reverseRelation="false" />
  <token name="editedwork" predicate="ScholarlyWorkIsEditedBy" reverseRelation="true" />

  <!-- ScholarlyWorkHasRepresentation -->
  <token name="representation" predicate="ScholarlyWorkHasRepresentation" reverseRelation="false" />
  <token name="representationof" predicate="ScholarlyWorkHasRepresentation" reverseRelation="true" />

</predicateTokens>