<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PasswordPolicy" type="Zentity.Security.AuthenticationProvider.PasswordManagement.PasswordPolicy, 
             Zentity.Security.AuthenticationProvider, culture=neutral, version=1.0.0.0, PublicKeyToken=null"/>
  </configSections>
  <PasswordPolicy>
    <CurrentPolicy
         MinimumLength="7"
         MaximumLength="20"
         ExpiresInDays="60"
         StartWithAlphabet="True"
         MustContainDigit="True"
         MustContainSpecialCharacter="True"/>
  </PasswordPolicy>
  <connectionStrings>
    <add name="AuthenticationConnection" connectionString="Data Source=.;Initial Catalog=Zentity.Authentication; integrated security=true"/>
  </connectionStrings>
</configuration>