<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
	</configSections>

	<!--Enterprise Library Tracing Section-->
	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="ZentityRollingTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs\ZentityTrace.log" formatter="Text Formatter" rollInterval="Hour" rollSizeKB="10244" timeStampPattern="yyyy-MM-dd-hh-mm-ss" maxArchivedFiles="10" />
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Title: {title}{newline}Message: {message}{newline}Timestamp: {timestamp(local)}{newline}Severity: {severity}{newline}App Domain: {localAppDomain}{newline}" name="Text Formatter" />
		</formatters>
		<categorySources>
			<add switchValue="Error" name="General">
				<listeners>
					<add name="ZentityRollingTraceListener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="ZentityRollingTraceListener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>

	<connectionStrings>
		<add name="ZentityContext" connectionString="metadata=res://Zentity.ScholarlyWorks;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.; Initial Catalog=Zentity;Integrated Security=True;&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off" />
	</system.web>
	<appSettings>
		<!-- Depth of the relations to be shown by the VisualExplorer-->
		<add key="MaxRelationDepth" value="2" />

		<!--Maximum number of subject nodes to be traversed within graph-->
		<add key="MaxSubjectNodeCount" value="30" />

		<!--Maximum number of object nodes to be traversed within graph-->
		<add key="MaxObjectNodeCount" value="30" />

		<!--Denotes the path of the WebUI Uri-->
		<add key="ZentityWebUIUri" value="http://localhost:9090/webui" />

		<!--Uri of the Zentity data service-->
		<add key="ZentityDataServiceUri" value="http://localhost:9090/Dataservice/ZentityDataService.svc" />

		<!--Uri of the OData to CXml translator-->
		<add key="ODataToCXmlTranslatorUri" value="OData/Odata.cxml" />

		<!--Path of the publised collections-->
		<add key="CollectionFilePath" value="C:\Publishing" />

		<!--relative virtual directory path where the collections are present-->
		<add key="PathPrefix" value="collections" />

		<!-- Required for search. -->
		<add key="ImplicitPropertiesFileName" value="Search\ImplicitProperties.config" />
		<add key="PredicateTokensFileName" value="Search\PredicateTokens.config" />
		<add key="SpecialTokensFileName" value="Search\SpecialTokens.config" />
		<add key="ExcludedPredicatesFileName" value="Search\ExcludedPredicates.config" />
		<add key="ExcludedResourceTypesFileName" value="Search\ExcludedResourceTypes.config" />

	</appSettings>

	<system.serviceModel>
		<client>
			<endpoint address="http://localhost:9090/Services/DataModelingService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataModelService" contract="DataModelingServiceReference.IDataModelService" name="WSHttpBinding_IDataModelService">
				<identity>
					<userPrincipalName value="DOMAIN\ZentityAdmin" />
				</identity>
			</endpoint>
			<endpoint address="http://localhost:9090/Pivot/PublishingService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPublishingService" contract="PublishingServiceReference.IPublishingService" name="WSHttpBinding_IPublishingService">
				<identity>
					<userPrincipalName value="DOMAIN\ZentityAdmin" />
				</identity>
			</endpoint>
			<endpoint address="http://localhost:9090/Services/ResourceTypeService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IResourceTypeService" contract="ResourceTypeServiceReference.IResourceTypeService" name="WSHttpBinding_IResourceTypeService">
				<identity>
					<userPrincipalName value="DOMAIN\ZentityAdmin" />
				</identity>
			</endpoint>
		</client>
		<bindings>
			<basicHttpBinding>
				<binding name="basicBinding" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferSize="2147483647" />
			</basicHttpBinding>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IDataModelService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IPublishingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IResourceTypeService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="10485760" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
		<services>
			<service name="Zentity.Services.Explorer.VisualExplorerService">
				<endpoint binding="basicHttpBinding" contract="Zentity.Services.Explorer.IVisualExplorerService" bindingName="basicBinding" />
				<endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>
	<system.webServer>
		<staticContent>			
			<!--<mimeMap fileExtension=".dzc" mimeType="text/xml" />
			<mimeMap fileExtension=".cxml" mimeType="text/xml" />
			<mimeMap fileExtension=".dzi" mimeType="text/xml" />-->
		</staticContent>
		<handlers>
			<add name="PivotCollectionHandler-Integrated" path="collections/*/*.cxml" verb="GET" type="Zentity.Web.UI.Explorer.Handlers.PivotCollectionHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
		</handlers>
		<security>
			<authorization>
				<remove users="*" roles="" verbs="" />
				<add accessType="Allow" roles="ZentityAdministrators" />
				<add accessType="Allow" roles="ZentityUsers" />
			</authorization>
		</security>
	</system.webServer>
</configuration>