<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="ZentityContext" connectionString="provider=System.Data.SqlClient;
                metadata=res://Zentity.Core; 
                provider connection string=&quot;Data Source=.;
                Initial Catalog=Zentity;Integrated Security=True;MultipleActiveResultSets=True&quot;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>