<?xml version="1.0" encoding="utf-8"?>
<excludedPredicates xmlns="urn:zentity">
  <predicate name="IdentityBelongsToGroups"/>
  <predicate name="DenyCreateAccess"/>
  <predicate name="DenyDeleteAccess"/>
  <predicate name="DenyOwnershipOf"/>
  <predicate name="DenyReadAccess"/>
  <predicate name="DenyUpdateAccess"/>
  <predicate name="HasCreateAccess"/>
  <predicate name="HasDeleteAccess"/>
  <predicate name="HasModifyAccess"/>
  <predicate name="HasReadAccess"/>
  <predicate name="HasReadModifyAccess"/>
  <predicate name="HasUpdateAccess"/>
  <predicate name="IsOwnerOf"/>
</excludedPredicates>
