<?xml version="1.0" encoding="utf-8" ?>

<specialTokens xmlns="urn:zentity">

  <token name="date" dataType="DateTime">
    <!-- Zentity.Core Module -->
    <module namespace="Zentity.Core">
      <resourceType name="Resource">
        <property>DateModified</property>
        <property>DateAdded</property>
      </resourceType>
    </module>
    <!-- Zentity.ScholarlyWorks Module -->
    <module namespace="Zentity.ScholarlyWorks">
      <resourceType name="PersonalCommunication">
        <property>DateExchanged</property>
      </resourceType>
      <resourceType name="Lecture">
        <property>DateEnd</property>
        <property>DateStart</property>
      </resourceType>
      <resourceType name="Publication">
        <property>DatePublished</property>
        <property>DateSubmitted</property>
        <property>DateAccepted</property>
      </resourceType>
      <resourceType name="Tutorial">
        <property>DatePresented</property>
      </resourceType>
      <resourceType name="Patent">
        <property>DateApproved</property>
        <property>DateRejected</property>
      </resourceType>
    </module>
  </token>

  <token name="name" dataType="String">
    <!-- Zentity.ScholarlyWorks Module -->
    <module namespace="Zentity.ScholarlyWorks">
      <resourceType name="Tag">
        <property>Name</property>
      </resourceType>
      <resourceType name="Person">
        <property>FirstName</property>
        <property>LastName</property>
        <property>MiddleName</property>
      </resourceType>
      <resourceType name="Experiment">
        <property>Name</property>
      </resourceType>
      <resourceType name="Publication">
        <property>BookTitle</property>
        <property>Publisher</property>
      </resourceType>
      <resourceType name="Video">
        <property>Director</property>
      </resourceType>
      <resourceType name="Journal">
        <property>JournalName</property>
      </resourceType>
      <resourceType name="Proceedings">
        <property>EventName</property>
      </resourceType>
    </module>
  </token>

  <token name="email" dataType="String">
    <!-- Zentity.ScholarlyWorks Module -->
    <module namespace="Zentity.ScholarlyWorks">
      <resourceType name="Contact">
        <property>Email</property>
      </resourceType>
      <resourceType name="PersonalCommunication">
        <property>From</property>
        <property>To</property>
      </resourceType>
    </module>
  </token>

</specialTokens>

